BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 001

CREATE TABLE usuarios (
    id SERIAL NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    hashed_password VARCHAR(255) NOT NULL, 
    nome VARCHAR(255) NOT NULL, 
    ativo BOOLEAN DEFAULT 'true' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_usuarios_email ON usuarios (email);

CREATE INDEX ix_usuarios_id ON usuarios (id);

CREATE TABLE clientes (
    id SERIAL NOT NULL, 
    nome VARCHAR(255) NOT NULL, 
    email VARCHAR(255), 
    telefone VARCHAR(50), 
    documento VARCHAR(20), 
    endereco TEXT, 
    usuario_id INTEGER, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(usuario_id) REFERENCES usuarios (id)
);

CREATE INDEX ix_clientes_id ON clientes (id);

CREATE TABLE projetos (
    id SERIAL NOT NULL, 
    nome VARCHAR(255) NOT NULL, 
    descricao TEXT, 
    cliente_id INTEGER NOT NULL, 
    status VARCHAR(50) DEFAULT 'ativo' NOT NULL, 
    usuario_id INTEGER, 
    data_inicio DATE, 
    data_fim DATE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(cliente_id) REFERENCES clientes (id), 
    FOREIGN KEY(usuario_id) REFERENCES usuarios (id)
);

CREATE INDEX ix_projetos_id ON projetos (id);

CREATE TABLE tarefas (
    id SERIAL NOT NULL, 
    titulo VARCHAR(255) NOT NULL, 
    descricao TEXT, 
    projeto_id INTEGER NOT NULL, 
    status VARCHAR(50) DEFAULT 'pendente' NOT NULL, 
    prioridade VARCHAR(20), 
    responsavel_id INTEGER, 
    data_vencimento DATE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(projeto_id) REFERENCES projetos (id), 
    FOREIGN KEY(responsavel_id) REFERENCES usuarios (id)
);

CREATE INDEX ix_tarefas_id ON tarefas (id);

CREATE TABLE propostas (
    id SERIAL NOT NULL, 
    titulo VARCHAR(255) NOT NULL, 
    descricao TEXT, 
    valor NUMERIC(15, 2), 
    cliente_id INTEGER NOT NULL, 
    projeto_id INTEGER, 
    status VARCHAR(50) DEFAULT 'rascunho' NOT NULL, 
    usuario_id INTEGER, 
    validade_ate DATE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(cliente_id) REFERENCES clientes (id), 
    FOREIGN KEY(projeto_id) REFERENCES projetos (id), 
    FOREIGN KEY(usuario_id) REFERENCES usuarios (id)
);

CREATE INDEX ix_propostas_id ON propostas (id);

CREATE TABLE contratos (
    id SERIAL NOT NULL, 
    numero VARCHAR(100) NOT NULL, 
    proposta_id INTEGER, 
    cliente_id INTEGER NOT NULL, 
    projeto_id INTEGER, 
    valor NUMERIC(15, 2), 
    data_inicio DATE, 
    data_fim DATE, 
    arquivo_url VARCHAR(500), 
    status VARCHAR(50) DEFAULT 'ativo' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(cliente_id) REFERENCES clientes (id), 
    FOREIGN KEY(projeto_id) REFERENCES projetos (id), 
    FOREIGN KEY(proposta_id) REFERENCES propostas (id)
);

CREATE INDEX ix_contratos_id ON contratos (id);

INSERT INTO alembic_version (version_num) VALUES ('001') RETURNING alembic_version.version_num;

-- Running upgrade 001 -> 002

ALTER TABLE clientes ADD COLUMN tipo VARCHAR(2) DEFAULT 'pf' NOT NULL;

ALTER TABLE clientes ADD COLUMN razao_social VARCHAR(255);

ALTER TABLE clientes ADD COLUMN cpf VARCHAR(14);

ALTER TABLE clientes ADD COLUMN cnpj VARCHAR(18);

ALTER TABLE clientes ADD COLUMN rg VARCHAR(20);

ALTER TABLE clientes ADD COLUMN inscricao_estadual VARCHAR(20);

ALTER TABLE clientes ADD COLUMN celular VARCHAR(50);

ALTER TABLE clientes ADD COLUMN cep VARCHAR(9);

ALTER TABLE clientes ADD COLUMN numero VARCHAR(20);

ALTER TABLE clientes ADD COLUMN complemento VARCHAR(100);

ALTER TABLE clientes ADD COLUMN bairro VARCHAR(100);

ALTER TABLE clientes ADD COLUMN cidade VARCHAR(100);

ALTER TABLE clientes ADD COLUMN estado VARCHAR(2);

UPDATE alembic_version SET version_num='002' WHERE alembic_version.version_num = '001';

-- Running upgrade 002 -> 003

ALTER TABLE projetos ADD COLUMN tipo VARCHAR(50) DEFAULT 'desenvolvimento_software' NOT NULL;

ALTER TABLE projetos ADD COLUMN valor_orcado NUMERIC(15, 2);

ALTER TABLE projetos ADD COLUMN valor_realizado NUMERIC(15, 2);

ALTER TABLE projetos ADD COLUMN moeda VARCHAR(3) DEFAULT 'BRL' NOT NULL;

ALTER TABLE projetos ADD COLUMN observacoes_financeiras TEXT;

UPDATE alembic_version SET version_num='003' WHERE alembic_version.version_num = '002';

-- Running upgrade 003 -> 004

ALTER TABLE propostas ADD COLUMN slug VARCHAR(64);

ALTER TABLE propostas ADD COLUMN landing_content JSON;

CREATE UNIQUE INDEX ix_propostas_slug ON propostas (slug);

UPDATE alembic_version SET version_num='004' WHERE alembic_version.version_num = '003';

-- Running upgrade 004 -> 005

CREATE TABLE proposal_sessions (
    id SERIAL NOT NULL, 
    proposta_id INTEGER NOT NULL, 
    session_id VARCHAR(64) NOT NULL, 
    device_id VARCHAR(128), 
    device_type VARCHAR(20), 
    browser VARCHAR(100), 
    os VARCHAR(100), 
    screen_width INTEGER, 
    screen_height INTEGER, 
    ip_address VARCHAR(45), 
    country VARCHAR(100), 
    city VARCHAR(100), 
    referrer TEXT, 
    utm_source VARCHAR(100), 
    utm_medium VARCHAR(100), 
    utm_campaign VARCHAR(100), 
    started_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    ended_at TIMESTAMP WITH TIME ZONE, 
    duration_seconds FLOAT, 
    is_returning BOOLEAN, 
    max_scroll_percent INTEGER, 
    total_clicks INTEGER, 
    sections_viewed INTEGER, 
    time_to_first_interaction FLOAT, 
    exit_intent_detected BOOLEAN, 
    exit_section VARCHAR(100), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(proposta_id) REFERENCES propostas (id) ON DELETE CASCADE
);

CREATE INDEX ix_proposal_sessions_id ON proposal_sessions (id);

CREATE INDEX ix_proposal_sessions_device_id ON proposal_sessions (device_id);

CREATE INDEX ix_proposal_sessions_session_id ON proposal_sessions (session_id);

CREATE INDEX ix_proposal_sessions_proposta_id ON proposal_sessions (proposta_id);

CREATE TABLE proposal_events (
    id SERIAL NOT NULL, 
    session_id INTEGER NOT NULL, 
    proposta_id INTEGER NOT NULL, 
    event_type VARCHAR(50) NOT NULL, 
    element_id VARCHAR(100), 
    section_id VARCHAR(100), 
    section_type VARCHAR(50), 
    value FLOAT, 
    value_string VARCHAR(255), 
    event_metadata JSON, 
    scroll_position INTEGER, 
    viewport_height INTEGER, 
    client_timestamp TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(session_id) REFERENCES proposal_sessions (id) ON DELETE CASCADE, 
    FOREIGN KEY(proposta_id) REFERENCES propostas (id) ON DELETE CASCADE
);

CREATE INDEX ix_proposal_events_event_type ON proposal_events (event_type);

CREATE INDEX ix_proposal_events_session_id ON proposal_events (session_id);

CREATE INDEX ix_proposal_events_proposta_id ON proposal_events (proposta_id);

CREATE INDEX ix_proposal_events_id ON proposal_events (id);

CREATE TABLE proposal_analytics_summary (
    id SERIAL NOT NULL, 
    proposta_id INTEGER NOT NULL, 
    date TIMESTAMP WITH TIME ZONE NOT NULL, 
    total_sessions INTEGER, 
    unique_devices INTEGER, 
    total_events INTEGER, 
    avg_duration_seconds FLOAT, 
    avg_scroll_percent FLOAT, 
    total_clicks INTEGER, 
    cta_clicks INTEGER, 
    whatsapp_clicks INTEGER, 
    mobile_sessions INTEGER, 
    desktop_sessions INTEGER, 
    returning_sessions INTEGER, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(proposta_id) REFERENCES propostas (id) ON DELETE CASCADE
);

CREATE INDEX ix_proposal_analytics_summary_date ON proposal_analytics_summary (date);

CREATE INDEX ix_proposal_analytics_summary_id ON proposal_analytics_summary (id);

CREATE INDEX ix_proposal_analytics_summary_proposta_id ON proposal_analytics_summary (proposta_id);

CREATE INDEX ix_proposal_sessions_proposta_session ON proposal_sessions (proposta_id, session_id);

CREATE INDEX ix_proposal_events_proposta_type ON proposal_events (proposta_id, event_type);

CREATE INDEX ix_proposal_analytics_proposta_date ON proposal_analytics_summary (proposta_id, date);

UPDATE alembic_version SET version_num='005' WHERE alembic_version.version_num = '004';

-- Running upgrade 005 -> 006

CREATE TABLE cliente_onboarding (
    id SERIAL NOT NULL, 
    cliente_id INTEGER NOT NULL, 
    quem_somos TEXT, 
    o_que_vendemos TEXT, 
    para_quem_vendemos TEXT, 
    diferenciais TEXT, 
    perguntas_frequentes TEXT, 
    logo_url VARCHAR(500), 
    fotos_urls TEXT, 
    redes_sociais TEXT, 
    conteudo_base_site TEXT, 
    conteudo_reutilizavel_bot TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    UNIQUE (cliente_id), 
    FOREIGN KEY(cliente_id) REFERENCES clientes (id) ON DELETE CASCADE
);

CREATE INDEX ix_cliente_onboarding_id ON cliente_onboarding (id);

CREATE TABLE cliente_meta_whatsapp (
    id SERIAL NOT NULL, 
    cliente_id INTEGER NOT NULL, 
    nome_aplicativo VARCHAR(255), 
    numero_oficial VARCHAR(50), 
    token_acesso TEXT, 
    business_manager_id VARCHAR(100), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    UNIQUE (cliente_id), 
    FOREIGN KEY(cliente_id) REFERENCES clientes (id) ON DELETE CASCADE
);

CREATE INDEX ix_cliente_meta_whatsapp_id ON cliente_meta_whatsapp (id);

CREATE TABLE cliente_contatos_operacionais (
    id SERIAL NOT NULL, 
    cliente_id INTEGER NOT NULL, 
    nome VARCHAR(255) NOT NULL, 
    cargo VARCHAR(255), 
    email VARCHAR(255), 
    telefone VARCHAR(50), 
    observacao TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(cliente_id) REFERENCES clientes (id) ON DELETE CASCADE
);

CREATE INDEX ix_cliente_contatos_operacionais_id ON cliente_contatos_operacionais (id);

UPDATE alembic_version SET version_num='006' WHERE alembic_version.version_num = '005';

-- Running upgrade 006 -> 007

CREATE TABLE cliente_documentos_rag (
    id SERIAL NOT NULL, 
    cliente_id INTEGER NOT NULL, 
    nome_original VARCHAR(500) NOT NULL, 
    nome_storage VARCHAR(500) NOT NULL, 
    url VARCHAR(1000) NOT NULL, 
    content_type VARCHAR(100), 
    tamanho_bytes INTEGER, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(cliente_id) REFERENCES clientes (id) ON DELETE CASCADE
);

CREATE INDEX ix_cliente_documentos_rag_id ON cliente_documentos_rag (id);

CREATE TABLE cliente_imagens (
    id SERIAL NOT NULL, 
    cliente_id INTEGER NOT NULL, 
    nome_original VARCHAR(500) NOT NULL, 
    nome_storage VARCHAR(500) NOT NULL, 
    url VARCHAR(1000) NOT NULL, 
    content_type VARCHAR(100), 
    tamanho_bytes INTEGER, 
    descricao VARCHAR(500), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(cliente_id) REFERENCES clientes (id) ON DELETE CASCADE
);

CREATE INDEX ix_cliente_imagens_id ON cliente_imagens (id);

CREATE TABLE cliente_cronograma_etapas (
    id SERIAL NOT NULL, 
    cliente_id INTEGER NOT NULL, 
    ordem INTEGER DEFAULT '0' NOT NULL, 
    titulo VARCHAR(255) NOT NULL, 
    descricao TEXT, 
    cor VARCHAR(20) DEFAULT 'blue', 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(cliente_id) REFERENCES clientes (id) ON DELETE CASCADE
);

CREATE INDEX ix_cliente_cronograma_etapas_id ON cliente_cronograma_etapas (id);

CREATE TABLE cliente_cronograma_itens (
    id SERIAL NOT NULL, 
    etapa_id INTEGER NOT NULL, 
    ordem INTEGER DEFAULT '0' NOT NULL, 
    texto VARCHAR(500) NOT NULL, 
    concluido BOOLEAN DEFAULT 'false' NOT NULL, 
    categoria VARCHAR(100), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(etapa_id) REFERENCES cliente_cronograma_etapas (id) ON DELETE CASCADE
);

CREATE INDEX ix_cliente_cronograma_itens_id ON cliente_cronograma_itens (id);

UPDATE alembic_version SET version_num='007' WHERE alembic_version.version_num = '006';

-- Running upgrade 007 -> 008

ALTER TABLE clientes ADD COLUMN logo_url VARCHAR(1000);

UPDATE alembic_version SET version_num='008' WHERE alembic_version.version_num = '007';

-- Running upgrade 008 -> 009

CREATE TABLE leads (
    id SERIAL NOT NULL, 
    nome VARCHAR(255) NOT NULL, 
    email VARCHAR(255), 
    telefone VARCHAR(50), 
    whatsapp VARCHAR(50), 
    empresa VARCHAR(255), 
    cargo VARCHAR(255), 
    site VARCHAR(500), 
    cidade VARCHAR(100), 
    estado VARCHAR(2), 
    temperatura VARCHAR(20) DEFAULT 'frio' NOT NULL, 
    status VARCHAR(30) DEFAULT 'novo' NOT NULL, 
    score INTEGER DEFAULT '0', 
    origem VARCHAR(100), 
    origem_detalhe VARCHAR(500), 
    utm_source VARCHAR(255), 
    utm_medium VARCHAR(255), 
    utm_campaign VARCHAR(255), 
    utm_term VARCHAR(255), 
    utm_content VARCHAR(255), 
    landing_page VARCHAR(500), 
    referrer VARCHAR(500), 
    interesse TEXT, 
    necessidade TEXT, 
    orcamento_estimado FLOAT, 
    responsavel_id INTEGER, 
    cliente_id INTEGER, 
    proxima_acao VARCHAR(500), 
    proxima_acao_data TIMESTAMP WITH TIME ZONE, 
    motivo_perda VARCHAR(500), 
    observacoes TEXT, 
    criado_por_id INTEGER, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    convertido_em TIMESTAMP WITH TIME ZONE, 
    ultimo_contato TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(responsavel_id) REFERENCES usuarios (id), 
    FOREIGN KEY(cliente_id) REFERENCES clientes (id), 
    FOREIGN KEY(criado_por_id) REFERENCES usuarios (id)
);

CREATE INDEX ix_leads_id ON leads (id);

UPDATE alembic_version SET version_num='009' WHERE alembic_version.version_num = '008';

-- Running upgrade 009 -> 010

CREATE EXTENSION IF NOT EXISTS "pgcrypto";

CREATE TEMP TABLE _mig_tables AS
        SELECT DISTINCT c.table_name
        FROM information_schema.columns c
        JOIN information_schema.table_constraints tc
            ON c.table_name = tc.table_name
            AND c.table_schema = tc.table_schema
            AND tc.constraint_type = 'PRIMARY KEY'
        JOIN information_schema.key_column_usage kcu
            ON tc.constraint_name = kcu.constraint_name
            AND tc.table_schema = kcu.table_schema
            AND kcu.column_name = 'id'
        WHERE c.column_name = 'id'
            AND c.data_type IN ('integer', 'bigint')
            AND c.table_schema = 'public';

CREATE TEMP TABLE _mig_fks AS
        SELECT DISTINCT
            tc.constraint_name,
            kcu.table_name AS child_table,
            kcu.column_name AS child_column,
            ccu.table_name AS parent_table,
            rc.delete_rule,
            col.is_nullable
        FROM information_schema.table_constraints tc
        JOIN information_schema.key_column_usage kcu
            ON tc.constraint_name = kcu.constraint_name
            AND tc.table_schema = kcu.table_schema
        JOIN information_schema.constraint_column_usage ccu
            ON tc.constraint_name = ccu.constraint_name
            AND tc.table_schema = ccu.table_schema
        JOIN information_schema.referential_constraints rc
            ON tc.constraint_name = rc.constraint_name
            AND tc.table_schema = rc.constraint_schema
        JOIN information_schema.columns col
            ON col.table_name = kcu.table_name
            AND col.column_name = kcu.column_name
            AND col.table_schema = 'public'
        WHERE tc.constraint_type = 'FOREIGN KEY'
            AND ccu.table_name IN (SELECT table_name FROM _mig_tables)
            AND ccu.column_name = 'id'
            AND tc.table_schema = 'public';

CREATE TEMP TABLE _mig_unique AS
        SELECT tc.constraint_name,
               tc.table_name,
               string_agg(kcu.column_name, ',' ORDER BY kcu.ordinal_position) AS columns
        FROM information_schema.table_constraints tc
        JOIN information_schema.key_column_usage kcu
            ON tc.constraint_name = kcu.constraint_name
            AND tc.table_schema = kcu.table_schema
        WHERE tc.constraint_type = 'UNIQUE'
            AND tc.table_schema = 'public'
            AND tc.constraint_name IN (
                SELECT tc2.constraint_name
                FROM information_schema.table_constraints tc2
                JOIN information_schema.key_column_usage kcu2
                    ON tc2.constraint_name = kcu2.constraint_name
                    AND tc2.table_schema = kcu2.table_schema
                WHERE tc2.constraint_type = 'UNIQUE'
                    AND tc2.table_schema = 'public'
                    AND EXISTS (
                        SELECT 1 FROM _mig_fks f
                        WHERE f.child_table = tc2.table_name
                        AND f.child_column = kcu2.column_name
                    )
            )
        GROUP BY tc.constraint_name, tc.table_name;

CREATE TEMP TABLE _mig_indexes AS
        SELECT i.indexname, i.tablename, i.indexdef
        FROM pg_indexes i
        WHERE i.schemaname = 'public'
            AND i.indexname NOT IN (
                SELECT constraint_name
                FROM information_schema.table_constraints
                WHERE constraint_type IN ('PRIMARY KEY', 'UNIQUE')
                    AND table_schema = 'public'
            )
            AND (
                EXISTS (
                    SELECT 1 FROM _mig_fks f
                    WHERE f.child_table = i.tablename
                    AND i.indexdef LIKE '%' || f.child_column || '%'
                )
                OR (
                    i.tablename IN (SELECT table_name FROM _mig_tables)
                    AND i.indexdef LIKE '%(id)%'
                )
            );

DO $$
        DECLARE r RECORD;
        BEGIN
            FOR r IN SELECT table_name FROM _mig_tables LOOP
                EXECUTE format(
                    'ALTER TABLE %I ADD COLUMN new_uuid UUID NOT NULL DEFAULT gen_random_uuid()',
                    r.table_name
                );
            END LOOP;
        END $$;;

DO $$
        DECLARE r RECORD;
        BEGIN
            FOR r IN SELECT * FROM _mig_fks LOOP
                -- Add new UUID FK column
                EXECUTE format(
                    'ALTER TABLE %I ADD COLUMN %I UUID',
                    r.child_table, 'new_' || r.child_column
                );
                -- Populate via JOIN with parent table
                EXECUTE format(
                    'UPDATE %I t SET %I = p.new_uuid FROM %I p WHERE t.%I = p.id',
                    r.child_table, 'new_' || r.child_column,
                    r.parent_table, r.child_column
                );
                -- Set NOT NULL if original was NOT NULL
                IF r.is_nullable = 'NO' THEN
                    EXECUTE format(
                        'ALTER TABLE %I ALTER COLUMN %I SET NOT NULL',
                        r.child_table, 'new_' || r.child_column
                    );
                END IF;
            END LOOP;
        END $$;;

DO $$
        DECLARE r RECORD;
        BEGIN
            FOR r IN SELECT * FROM _mig_unique LOOP
                EXECUTE format(
                    'ALTER TABLE %I DROP CONSTRAINT IF EXISTS %I',
                    r.table_name, r.constraint_name
                );
            END LOOP;
        END $$;;

DO $$
        DECLARE r RECORD;
        BEGIN
            FOR r IN SELECT constraint_name, child_table FROM _mig_fks LOOP
                EXECUTE format(
                    'ALTER TABLE %I DROP CONSTRAINT IF EXISTS %I',
                    r.child_table, r.constraint_name
                );
            END LOOP;
        END $$;;

DO $$
        DECLARE r RECORD;
        BEGIN
            FOR r IN SELECT table_name FROM _mig_tables LOOP
                EXECUTE format(
                    'ALTER TABLE %I DROP CONSTRAINT IF EXISTS %I',
                    r.table_name, r.table_name || '_pkey'
                );
            END LOOP;
        END $$;;

DO $$
        DECLARE r RECORD;
        BEGIN
            FOR r IN SELECT child_table, child_column FROM _mig_fks LOOP
                EXECUTE format(
                    'ALTER TABLE %I DROP COLUMN IF EXISTS %I',
                    r.child_table, r.child_column
                );
            END LOOP;
        END $$;;

DO $$
        DECLARE r RECORD;
        BEGIN
            FOR r IN SELECT table_name FROM _mig_tables LOOP
                EXECUTE format(
                    'ALTER TABLE %I DROP COLUMN id',
                    r.table_name
                );
            END LOOP;
        END $$;;

DO $$
        DECLARE r RECORD;
        BEGIN
            -- Rename PKs: new_uuid -> id
            FOR r IN SELECT table_name FROM _mig_tables LOOP
                EXECUTE format(
                    'ALTER TABLE %I RENAME COLUMN new_uuid TO id',
                    r.table_name
                );
            END LOOP;

            -- Rename FKs: new_{col} -> {col}
            FOR r IN SELECT child_table, child_column FROM _mig_fks LOOP
                EXECUTE format(
                    'ALTER TABLE %I RENAME COLUMN %I TO %I',
                    r.child_table, 'new_' || r.child_column, r.child_column
                );
            END LOOP;
        END $$;;

DO $$
        DECLARE r RECORD;
        BEGIN
            FOR r IN SELECT table_name FROM _mig_tables LOOP
                EXECUTE format(
                    'ALTER TABLE %I ADD CONSTRAINT %I PRIMARY KEY (id)',
                    r.table_name, r.table_name || '_pkey'
                );
            END LOOP;
        END $$;;

DO $$
        DECLARE r RECORD; on_del TEXT;
        BEGIN
            FOR r IN SELECT * FROM _mig_fks LOOP
                on_del := '';
                IF r.delete_rule = 'CASCADE' THEN
                    on_del := ' ON DELETE CASCADE';
                ELSIF r.delete_rule = 'SET NULL' THEN
                    on_del := ' ON DELETE SET NULL';
                ELSIF r.delete_rule = 'SET DEFAULT' THEN
                    on_del := ' ON DELETE SET DEFAULT';
                END IF;

                EXECUTE format(
                    'ALTER TABLE %I ADD CONSTRAINT %I FOREIGN KEY (%I) REFERENCES %I(id)%s',
                    r.child_table, r.constraint_name, r.child_column,
                    r.parent_table, on_del
                );
            END LOOP;
        END $$;;

DO $$
        DECLARE r RECORD;
        BEGIN
            FOR r IN SELECT * FROM _mig_unique LOOP
                EXECUTE format(
                    'ALTER TABLE %I ADD CONSTRAINT %I UNIQUE (' || r.columns || ')',
                    r.table_name, r.constraint_name
                );
            END LOOP;
        END $$;;

DO $$
        DECLARE r RECORD; idx_def TEXT;
        BEGIN
            FOR r IN SELECT * FROM _mig_indexes LOOP
                -- The original index definition references old column types
                -- but the column names are the same, so we can just re-execute
                BEGIN
                    EXECUTE r.indexdef;
                EXCEPTION WHEN others THEN
                    RAISE NOTICE 'Could not recreate index %: %', r.indexname, SQLERRM;
                END;
            END LOOP;
        END $$;;

DO $$
        DECLARE r RECORD;
        BEGIN
            FOR r IN SELECT table_name FROM _mig_tables LOOP
                EXECUTE format(
                    'ALTER TABLE %I ALTER COLUMN id DROP DEFAULT',
                    r.table_name
                );
            END LOOP;
        END $$;;

DROP TABLE IF EXISTS _mig_indexes;

DROP TABLE IF EXISTS _mig_unique;

DROP TABLE IF EXISTS _mig_fks;

DROP TABLE IF EXISTS _mig_tables;

UPDATE alembic_version SET version_num='010' WHERE alembic_version.version_num = '009';

-- Running upgrade 010 -> 017

CREATE TABLE pipelines (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    description TEXT, 
    is_default BOOLEAN DEFAULT 'false' NOT NULL, 
    created_by_user_id UUID, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by_user_id) REFERENCES usuarios (id) ON DELETE SET NULL
);

CREATE INDEX ix_pipelines_id ON pipelines (id);

CREATE TABLE pipeline_stages (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    pipeline_id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    key VARCHAR(50), 
    order_index INTEGER NOT NULL, 
    wip_limit INTEGER, 
    color VARCHAR(20), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(pipeline_id) REFERENCES pipelines (id) ON DELETE CASCADE, 
    CONSTRAINT uq_pipeline_stage_order UNIQUE (pipeline_id, order_index)
);

CREATE INDEX ix_pipeline_stages_id ON pipeline_stages (id);

CREATE INDEX ix_pipeline_stages_pipeline_id ON pipeline_stages (pipeline_id);

CREATE TABLE deal_tags (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    name VARCHAR(100) NOT NULL, 
    color VARCHAR(20), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

CREATE INDEX ix_deal_tags_id ON deal_tags (id);

CREATE TYPE dealpriority AS ENUM ('low', 'normal', 'high', 'urgent');

CREATE TYPE dealstatus AS ENUM ('open', 'won', 'lost');

CREATE TYPE dealsource AS ENUM ('inbound', 'outbound', 'indicacao', 'evento', 'rede_social', 'outro');

CREATE TABLE deals (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    pipeline_id UUID NOT NULL, 
    stage_id UUID NOT NULL, 
    client_id UUID NOT NULL, 
    title VARCHAR(255) NOT NULL, 
    value_cents INTEGER, 
    currency VARCHAR(3) DEFAULT 'BRL' NOT NULL, 
    probability INTEGER DEFAULT '0' NOT NULL, 
    expected_close_date DATE, 
    priority dealpriority DEFAULT 'normal' NOT NULL, 
    status dealstatus DEFAULT 'open' NOT NULL, 
    position_index NUMERIC(10, 2) DEFAULT '0' NOT NULL, 
    source dealsource, 
    proposal_id UUID, 
    contract_id UUID, 
    created_by_user_id UUID, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(pipeline_id) REFERENCES pipelines (id) ON DELETE CASCADE, 
    FOREIGN KEY(stage_id) REFERENCES pipeline_stages (id) ON DELETE RESTRICT, 
    FOREIGN KEY(client_id) REFERENCES clientes (id) ON DELETE RESTRICT, 
    FOREIGN KEY(proposal_id) REFERENCES propostas (id) ON DELETE SET NULL, 
    FOREIGN KEY(contract_id) REFERENCES contratos (id) ON DELETE SET NULL, 
    FOREIGN KEY(created_by_user_id) REFERENCES usuarios (id) ON DELETE SET NULL
);

CREATE INDEX ix_deals_id ON deals (id);

CREATE INDEX ix_deals_pipeline_id ON deals (pipeline_id);

CREATE INDEX ix_deals_stage_id ON deals (stage_id);

CREATE INDEX ix_deals_client_id ON deals (client_id);

CREATE TABLE deal_assignees (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    deal_id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    role VARCHAR(20) DEFAULT 'collab' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(deal_id) REFERENCES deals (id) ON DELETE CASCADE, 
    FOREIGN KEY(user_id) REFERENCES usuarios (id) ON DELETE CASCADE, 
    CONSTRAINT uq_deal_user UNIQUE (deal_id, user_id)
);

CREATE INDEX ix_deal_assignees_deal_id ON deal_assignees (deal_id);

CREATE INDEX ix_deal_assignees_user_id ON deal_assignees (user_id);

CREATE TABLE deal_tag_links (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    deal_id UUID NOT NULL, 
    tag_id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(deal_id) REFERENCES deals (id) ON DELETE CASCADE, 
    FOREIGN KEY(tag_id) REFERENCES deal_tags (id) ON DELETE CASCADE, 
    CONSTRAINT uq_deal_tag UNIQUE (deal_id, tag_id)
);

CREATE INDEX ix_deal_tag_links_deal_id ON deal_tag_links (deal_id);

CREATE INDEX ix_deal_tag_links_tag_id ON deal_tag_links (tag_id);

CREATE TYPE dealactivitytype AS ENUM ('call', 'email', 'meeting', 'whatsapp', 'custom');

CREATE TABLE deal_activities (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    deal_id UUID NOT NULL, 
    type dealactivitytype NOT NULL, 
    title VARCHAR(255) NOT NULL, 
    due_at TIMESTAMP WITH TIME ZONE, 
    done_at TIMESTAMP WITH TIME ZONE, 
    created_by_user_id UUID, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(deal_id) REFERENCES deals (id) ON DELETE CASCADE, 
    FOREIGN KEY(created_by_user_id) REFERENCES usuarios (id) ON DELETE SET NULL
);

CREATE INDEX ix_deal_activities_deal_id ON deal_activities (deal_id);

CREATE TABLE deal_notes (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    deal_id UUID NOT NULL, 
    author_user_id UUID, 
    content TEXT NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(deal_id) REFERENCES deals (id) ON DELETE CASCADE, 
    FOREIGN KEY(author_user_id) REFERENCES usuarios (id) ON DELETE SET NULL
);

CREATE INDEX ix_deal_notes_deal_id ON deal_notes (deal_id);

CREATE TABLE deal_stage_history (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    deal_id UUID NOT NULL, 
    from_stage_id UUID, 
    to_stage_id UUID NOT NULL, 
    moved_by_user_id UUID, 
    moved_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    reason TEXT, 
    extra_metadata TEXT, 
    PRIMARY KEY (id), 
    FOREIGN KEY(deal_id) REFERENCES deals (id) ON DELETE CASCADE, 
    FOREIGN KEY(from_stage_id) REFERENCES pipeline_stages (id) ON DELETE SET NULL, 
    FOREIGN KEY(to_stage_id) REFERENCES pipeline_stages (id) ON DELETE RESTRICT, 
    FOREIGN KEY(moved_by_user_id) REFERENCES usuarios (id) ON DELETE SET NULL
);

CREATE INDEX ix_deal_stage_history_deal_id ON deal_stage_history (deal_id);

CREATE INDEX ix_deal_stage_history_moved_at ON deal_stage_history (moved_at);

UPDATE alembic_version SET version_num='017' WHERE alembic_version.version_num = '010';

-- Running upgrade 017 -> 011

CREATE TABLE pre_proposals (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    client_id UUID NOT NULL, 
    deal_id UUID, 
    status VARCHAR(50) DEFAULT 'draft' NOT NULL, 
    score_total INTEGER, 
    temperature VARCHAR(20), 
    summary TEXT, 
    recommendations JSONB, 
    created_by_user_id UUID, 
    updated_by_user_id UUID, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(client_id) REFERENCES clientes (id) ON DELETE RESTRICT, 
    FOREIGN KEY(deal_id) REFERENCES deals (id) ON DELETE SET NULL, 
    FOREIGN KEY(created_by_user_id) REFERENCES usuarios (id) ON DELETE SET NULL, 
    FOREIGN KEY(updated_by_user_id) REFERENCES usuarios (id) ON DELETE SET NULL
);

CREATE INDEX ix_pre_proposals_id ON pre_proposals (id);

CREATE INDEX ix_pre_proposals_client_id ON pre_proposals (client_id);

CREATE INDEX ix_pre_proposals_deal_id ON pre_proposals (deal_id);

CREATE INDEX ix_pre_proposals_status ON pre_proposals (status);

CREATE TABLE pre_proposal_answers (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    pre_proposal_id UUID NOT NULL, 
    step_key VARCHAR(50) NOT NULL, 
    field_key VARCHAR(100) NOT NULL, 
    answer_json JSONB NOT NULL, 
    weight INTEGER, 
    score INTEGER, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(pre_proposal_id) REFERENCES pre_proposals (id) ON DELETE CASCADE, 
    CONSTRAINT uq_pre_proposal_answer UNIQUE (pre_proposal_id, field_key)
);

CREATE INDEX ix_pre_proposal_answers_pre_proposal_id ON pre_proposal_answers (pre_proposal_id);

CREATE TABLE pre_proposal_templates (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    schema_json JSONB NOT NULL, 
    is_default BOOLEAN DEFAULT 'false' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id)
);

CREATE INDEX ix_pre_proposal_templates_id ON pre_proposal_templates (id);

UPDATE alembic_version SET version_num='011' WHERE alembic_version.version_num = '017';

-- Running upgrade 011 -> 012

ALTER TABLE propostas ADD COLUMN deal_id UUID;

ALTER TABLE propostas ADD COLUMN from_pre_proposal_id UUID;

ALTER TABLE propostas ADD COLUMN currency VARCHAR(3) DEFAULT 'BRL';

ALTER TABLE propostas ADD COLUMN total_value_cents INTEGER;

ALTER TABLE propostas ADD COLUMN public_token VARCHAR(64);

ALTER TABLE propostas ADD UNIQUE (public_token);

ALTER TABLE propostas ADD COLUMN accepted_at TIMESTAMP WITH TIME ZONE;

ALTER TABLE propostas ADD COLUMN accepted_by_name VARCHAR(255);

ALTER TABLE propostas ADD COLUMN accepted_ip VARCHAR(45);

ALTER TABLE propostas ADD COLUMN accepted_user_agent TEXT;

ALTER TABLE propostas ADD COLUMN updated_by_user_id UUID;

ALTER TABLE propostas ADD CONSTRAINT fk_propostas_deal_id FOREIGN KEY(deal_id) REFERENCES deals (id) ON DELETE SET NULL;

ALTER TABLE propostas ADD CONSTRAINT fk_propostas_pre_proposal_id FOREIGN KEY(from_pre_proposal_id) REFERENCES pre_proposals (id) ON DELETE SET NULL;

ALTER TABLE propostas ADD CONSTRAINT fk_propostas_updated_by FOREIGN KEY(updated_by_user_id) REFERENCES usuarios (id) ON DELETE SET NULL;

CREATE INDEX ix_propostas_deal_id ON propostas (deal_id);

CREATE UNIQUE INDEX ix_propostas_public_token ON propostas (public_token);

CREATE INDEX ix_propostas_from_pre_proposal_id ON propostas (from_pre_proposal_id);

CREATE TABLE proposal_sections (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    proposal_id UUID NOT NULL, 
    section_key VARCHAR(50) NOT NULL, 
    title VARCHAR(255) NOT NULL, 
    content_json JSONB NOT NULL, 
    order_index INTEGER NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(proposal_id) REFERENCES propostas (id) ON DELETE CASCADE, 
    CONSTRAINT uq_proposal_section_order UNIQUE (proposal_id, order_index)
);

CREATE INDEX ix_proposal_sections_proposal_id ON proposal_sections (proposal_id);

CREATE TABLE proposal_pricing_plans (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    proposal_id UUID NOT NULL, 
    plan_name VARCHAR(255) NOT NULL, 
    plan_summary TEXT, 
    includes_json JSONB NOT NULL, 
    timeline_text TEXT, 
    price_cents INTEGER NOT NULL, 
    payment_terms_text TEXT, 
    is_recommended BOOLEAN DEFAULT 'false' NOT NULL, 
    is_selected_default BOOLEAN DEFAULT 'false' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(proposal_id) REFERENCES propostas (id) ON DELETE CASCADE
);

CREATE INDEX ix_proposal_pricing_plans_proposal_id ON proposal_pricing_plans (proposal_id);

CREATE TABLE proposal_status_events (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    proposal_id UUID NOT NULL, 
    event_type VARCHAR(50) NOT NULL, 
    payload_json JSONB, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(proposal_id) REFERENCES propostas (id) ON DELETE CASCADE
);

CREATE INDEX ix_proposal_status_events_proposal_id ON proposal_status_events (proposal_id);

CREATE INDEX ix_proposal_status_events_event_type ON proposal_status_events (event_type);

CREATE TABLE email_outbox (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    to_email VARCHAR(255) NOT NULL, 
    subject VARCHAR(500) NOT NULL, 
    html_body TEXT NOT NULL, 
    status VARCHAR(50) DEFAULT 'queued' NOT NULL, 
    provider_message_id VARCHAR(255), 
    error_text TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    sent_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_email_outbox_status ON email_outbox (status);

CREATE INDEX ix_email_outbox_to_email ON email_outbox (to_email);

UPDATE alembic_version SET version_num='012' WHERE alembic_version.version_num = '011';

-- Running upgrade 012 -> 013

CREATE TABLE task_databases (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    description TEXT, 
    is_default BOOLEAN DEFAULT 'false' NOT NULL, 
    created_by_user_id UUID, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by_user_id) REFERENCES usuarios (id) ON DELETE SET NULL
);

CREATE INDEX ix_task_databases_id ON task_databases (id);

CREATE INDEX ix_task_databases_is_default ON task_databases (is_default);

CREATE TABLE task_properties (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    task_database_id UUID NOT NULL, 
    key VARCHAR(100) NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    type VARCHAR(50) NOT NULL, 
    config_json JSONB, 
    order_index INTEGER DEFAULT '0' NOT NULL, 
    is_required BOOLEAN DEFAULT 'false' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(task_database_id) REFERENCES task_databases (id) ON DELETE CASCADE, 
    CONSTRAINT uq_task_property_database_key UNIQUE (task_database_id, key)
);

CREATE INDEX ix_task_properties_id ON task_properties (id);

CREATE INDEX ix_task_properties_task_database_id ON task_properties (task_database_id);

ALTER TABLE tarefas ADD COLUMN task_database_id UUID;

ALTER TABLE tarefas ADD COLUMN context_type VARCHAR(50);

ALTER TABLE tarefas ADD COLUMN context_id UUID;

ALTER TABLE tarefas ADD COLUMN completed_at TIMESTAMP WITH TIME ZONE;

ALTER TABLE tarefas ADD COLUMN completed_by_user_id UUID;

ALTER TABLE tarefas ADD CONSTRAINT fk_tarefa_task_database FOREIGN KEY(task_database_id) REFERENCES task_databases (id) ON DELETE SET NULL;

ALTER TABLE tarefas ADD CONSTRAINT fk_tarefa_completed_by FOREIGN KEY(completed_by_user_id) REFERENCES usuarios (id) ON DELETE SET NULL;

CREATE INDEX ix_tarefas_task_database_id ON tarefas (task_database_id);

CREATE INDEX ix_tarefas_context_type_id ON tarefas (context_type, context_id);

CREATE TABLE task_property_values (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    task_id UUID NOT NULL, 
    property_id UUID NOT NULL, 
    value_json JSONB, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(task_id) REFERENCES tarefas (id) ON DELETE CASCADE, 
    FOREIGN KEY(property_id) REFERENCES task_properties (id) ON DELETE CASCADE, 
    CONSTRAINT uq_task_property_value UNIQUE (task_id, property_id)
);

CREATE INDEX ix_task_property_values_id ON task_property_values (id);

CREATE INDEX ix_task_property_values_task_id ON task_property_values (task_id);

CREATE INDEX ix_task_property_values_property_id ON task_property_values (property_id);

CREATE TABLE task_views (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    task_database_id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    type VARCHAR(50) NOT NULL, 
    config_json JSONB, 
    is_default BOOLEAN DEFAULT 'false' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(task_database_id) REFERENCES task_databases (id) ON DELETE CASCADE, 
    FOREIGN KEY(user_id) REFERENCES usuarios (id) ON DELETE CASCADE
);

CREATE INDEX ix_task_views_id ON task_views (id);

CREATE INDEX ix_task_views_task_database_id ON task_views (task_database_id);

CREATE INDEX ix_task_views_user_id ON task_views (user_id);

CREATE TABLE task_blocks (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    task_id UUID NOT NULL, 
    type VARCHAR(50) NOT NULL, 
    content_json JSONB, 
    order_index INTEGER DEFAULT '0' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(task_id) REFERENCES tarefas (id) ON DELETE CASCADE
);

CREATE INDEX ix_task_blocks_id ON task_blocks (id);

CREATE INDEX ix_task_blocks_task_id ON task_blocks (task_id);

CREATE INDEX ix_task_blocks_order_index ON task_blocks (task_id, order_index);

CREATE TABLE task_comments (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    task_id UUID NOT NULL, 
    author_user_id UUID, 
    content TEXT NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(task_id) REFERENCES tarefas (id) ON DELETE CASCADE, 
    FOREIGN KEY(author_user_id) REFERENCES usuarios (id) ON DELETE SET NULL
);

CREATE INDEX ix_task_comments_id ON task_comments (id);

CREATE INDEX ix_task_comments_task_id ON task_comments (task_id);

CREATE INDEX ix_task_comments_author_user_id ON task_comments (author_user_id);

CREATE TABLE task_mentions (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    task_id UUID NOT NULL, 
    mentioned_user_id UUID NOT NULL, 
    comment_id UUID, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(task_id) REFERENCES tarefas (id) ON DELETE CASCADE, 
    FOREIGN KEY(mentioned_user_id) REFERENCES usuarios (id) ON DELETE CASCADE, 
    FOREIGN KEY(comment_id) REFERENCES task_comments (id) ON DELETE CASCADE
);

CREATE INDEX ix_task_mentions_id ON task_mentions (id);

CREATE INDEX ix_task_mentions_task_id ON task_mentions (task_id);

CREATE INDEX ix_task_mentions_mentioned_user_id ON task_mentions (mentioned_user_id);

CREATE TABLE task_attachments (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    task_id UUID NOT NULL, 
    uploaded_by_user_id UUID, 
    file_name VARCHAR(255) NOT NULL, 
    mime_type VARCHAR(100), 
    size_bytes BIGINT NOT NULL, 
    storage_key VARCHAR(500), 
    url VARCHAR(1000), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(task_id) REFERENCES tarefas (id) ON DELETE CASCADE, 
    FOREIGN KEY(uploaded_by_user_id) REFERENCES usuarios (id) ON DELETE SET NULL
);

CREATE INDEX ix_task_attachments_id ON task_attachments (id);

CREATE INDEX ix_task_attachments_task_id ON task_attachments (task_id);

CREATE TABLE task_templates (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    task_database_id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    description TEXT, 
    default_blocks_json JSONB, 
    default_property_values_json JSONB, 
    created_by_user_id UUID, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(task_database_id) REFERENCES task_databases (id) ON DELETE CASCADE, 
    FOREIGN KEY(created_by_user_id) REFERENCES usuarios (id) ON DELETE SET NULL
);

CREATE INDEX ix_task_templates_id ON task_templates (id);

CREATE INDEX ix_task_templates_task_database_id ON task_templates (task_database_id);

UPDATE alembic_version SET version_num='013' WHERE alembic_version.version_num = '012';

-- Running upgrade 013 -> 014

CREATE TABLE roles (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    key VARCHAR(50) NOT NULL, 
    name VARCHAR(100) NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    UNIQUE (key)
);

CREATE INDEX ix_roles_id ON roles (id);

CREATE UNIQUE INDEX ix_roles_key ON roles (key);

CREATE TABLE user_roles (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    user_id UUID NOT NULL, 
    role_id UUID NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_user_role UNIQUE (user_id, role_id), 
    FOREIGN KEY(user_id) REFERENCES usuarios (id) ON DELETE CASCADE, 
    FOREIGN KEY(role_id) REFERENCES roles (id) ON DELETE CASCADE
);

CREATE INDEX ix_user_roles_id ON user_roles (id);

CREATE INDEX ix_user_roles_user_id ON user_roles (user_id);

CREATE INDEX ix_user_roles_role_id ON user_roles (role_id);

CREATE TYPE notificationtype AS ENUM ('PROJECT_NUDGE', 'DIRECT_MESSAGE', 'SYSTEM', 'TASK_MENTION', 'PROPOSAL_UPDATE', 'CONTRACT_UPDATE');

CREATE TYPE notificationpriority AS ENUM ('low', 'normal', 'high', 'urgent');

CREATE TABLE notifications (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    type notificationtype NOT NULL, 
    title VARCHAR(255) NOT NULL, 
    body TEXT NOT NULL, 
    priority notificationpriority NOT NULL, 
    author_user_id UUID, 
    context_type VARCHAR(50), 
    context_id VARCHAR(255), 
    action_url TEXT, 
    extra_data JSONB, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(author_user_id) REFERENCES usuarios (id) ON DELETE SET NULL
);

CREATE INDEX ix_notifications_id ON notifications (id);

CREATE INDEX ix_notifications_type ON notifications (type);

CREATE INDEX ix_notifications_context ON notifications (context_type, context_id);

CREATE INDEX ix_notifications_created_at ON notifications (created_at);

CREATE TABLE notification_recipients (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    notification_id UUID NOT NULL, 
    recipient_user_id UUID NOT NULL, 
    delivered_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    read_at TIMESTAMP WITH TIME ZONE, 
    archived_at TIMESTAMP WITH TIME ZONE, 
    pinned_at TIMESTAMP WITH TIME ZONE, 
    muted BOOLEAN NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(notification_id) REFERENCES notifications (id) ON DELETE CASCADE, 
    FOREIGN KEY(recipient_user_id) REFERENCES usuarios (id) ON DELETE CASCADE
);

CREATE INDEX ix_notification_recipients_id ON notification_recipients (id);

CREATE INDEX ix_notification_recipients_notification_id ON notification_recipients (notification_id);

CREATE INDEX ix_notification_recipients_recipient_user_id ON notification_recipients (recipient_user_id);

CREATE INDEX ix_notification_recipients_read_at ON notification_recipients (read_at);

CREATE TYPE conversationkind AS ENUM ('DIRECT');

CREATE TABLE conversations (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    kind conversationkind NOT NULL, 
    created_by_user_id UUID, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by_user_id) REFERENCES usuarios (id) ON DELETE SET NULL
);

CREATE INDEX ix_conversations_id ON conversations (id);

CREATE INDEX ix_conversations_created_at ON conversations (created_at);

CREATE TABLE conversation_participants (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    conversation_id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    last_read_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(conversation_id) REFERENCES conversations (id) ON DELETE CASCADE, 
    FOREIGN KEY(user_id) REFERENCES usuarios (id) ON DELETE CASCADE
);

CREATE INDEX ix_conversation_participants_id ON conversation_participants (id);

CREATE INDEX ix_conversation_participants_conversation_id ON conversation_participants (conversation_id);

CREATE INDEX ix_conversation_participants_user_id ON conversation_participants (user_id);

CREATE TABLE messages (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    conversation_id UUID NOT NULL, 
    author_user_id UUID, 
    content TEXT NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    edited_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(conversation_id) REFERENCES conversations (id) ON DELETE CASCADE, 
    FOREIGN KEY(author_user_id) REFERENCES usuarios (id) ON DELETE SET NULL
);

CREATE INDEX ix_messages_id ON messages (id);

CREATE INDEX ix_messages_conversation_id ON messages (conversation_id);

CREATE INDEX ix_messages_created_at ON messages (created_at);

CREATE TABLE message_to_notification_links (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    message_id UUID NOT NULL, 
    recipient_user_id UUID NOT NULL, 
    notification_recipient_id UUID, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(message_id) REFERENCES messages (id) ON DELETE CASCADE, 
    FOREIGN KEY(recipient_user_id) REFERENCES usuarios (id) ON DELETE CASCADE, 
    FOREIGN KEY(notification_recipient_id) REFERENCES notification_recipients (id) ON DELETE SET NULL
);

CREATE INDEX ix_message_to_notification_links_id ON message_to_notification_links (id);

CREATE INDEX ix_message_to_notification_links_message_id ON message_to_notification_links (message_id);

CREATE INDEX ix_message_to_notification_links_recipient_user_id ON message_to_notification_links (recipient_user_id);

CREATE TABLE audit_events (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    event_type VARCHAR(50) NOT NULL, 
    actor_user_id UUID, 
    target_user_id UUID, 
    context_type VARCHAR(50), 
    context_id VARCHAR(255), 
    payload TEXT, 
    ip_address VARCHAR(45), 
    user_agent VARCHAR(500), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(actor_user_id) REFERENCES usuarios (id) ON DELETE SET NULL, 
    FOREIGN KEY(target_user_id) REFERENCES usuarios (id) ON DELETE SET NULL
);

CREATE INDEX ix_audit_events_id ON audit_events (id);

CREATE INDEX ix_audit_events_event_type ON audit_events (event_type);

CREATE INDEX ix_audit_events_target_user_id ON audit_events (target_user_id);

CREATE INDEX ix_audit_events_created_at ON audit_events (created_at);

UPDATE alembic_version SET version_num='014' WHERE alembic_version.version_num = '013';

-- Running upgrade 014 -> 015

CREATE TABLE permissions (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    module VARCHAR(50) NOT NULL, 
    action VARCHAR(50) NOT NULL, 
    name VARCHAR(200) NOT NULL, 
    description TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    CONSTRAINT uq_permission_module_action UNIQUE (module, action)
);

CREATE INDEX ix_permissions_module ON permissions (module);

CREATE INDEX ix_permissions_action ON permissions (action);

CREATE TABLE role_permissions (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    role_id UUID NOT NULL, 
    permission_id UUID NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_role_permission UNIQUE (role_id, permission_id), 
    FOREIGN KEY(role_id) REFERENCES roles (id) ON DELETE CASCADE, 
    FOREIGN KEY(permission_id) REFERENCES permissions (id) ON DELETE CASCADE
);

CREATE INDEX ix_role_permissions_role_id ON role_permissions (role_id);

CREATE INDEX ix_role_permissions_permission_id ON role_permissions (permission_id);

UPDATE alembic_version SET version_num='015' WHERE alembic_version.version_num = '014';

-- Running upgrade 015 -> 016

ALTER TABLE tarefas ADD COLUMN is_recurring BOOLEAN DEFAULT 'false' NOT NULL;

ALTER TABLE tarefas ADD COLUMN recurrence_type VARCHAR(20);

ALTER TABLE tarefas ADD COLUMN recurrence_interval INTEGER;

ALTER TABLE tarefas ADD COLUMN recurrence_end_date DATE;

ALTER TABLE tarefas ADD COLUMN parent_task_id UUID;

ALTER TABLE tarefas ADD CONSTRAINT fk_tarefa_parent_task FOREIGN KEY(parent_task_id) REFERENCES tarefas (id) ON DELETE SET NULL;

CREATE INDEX ix_tarefas_parent_task_id ON tarefas (parent_task_id);

CREATE TABLE tarefa_assignees (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    tarefa_id UUID NOT NULL, 
    usuario_id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(tarefa_id) REFERENCES tarefas (id) ON DELETE CASCADE, 
    FOREIGN KEY(usuario_id) REFERENCES usuarios (id) ON DELETE CASCADE, 
    CONSTRAINT uq_tarefa_usuario UNIQUE (tarefa_id, usuario_id)
);

CREATE INDEX ix_tarefa_assignees_tarefa_id ON tarefa_assignees (tarefa_id);

CREATE INDEX ix_tarefa_assignees_usuario_id ON tarefa_assignees (usuario_id);

UPDATE alembic_version SET version_num='016' WHERE alembic_version.version_num = '015';

-- Running upgrade 016 -> 018

ALTER TABLE usuarios ADD COLUMN avatar_url TEXT;

ALTER TABLE usuarios ADD COLUMN bio TEXT;

ALTER TABLE usuarios ADD COLUMN phone VARCHAR(50);

ALTER TABLE usuarios ADD COLUMN presence_status VARCHAR(20);

ALTER TABLE usuarios ADD COLUMN notification_prefs JSONB;

UPDATE alembic_version SET version_num='018' WHERE alembic_version.version_num = '016';

-- Running upgrade 018 -> 96b3890d8c1f

ALTER TYPE notificationtype ADD VALUE IF NOT EXISTS 'TASK_NUDGE';

UPDATE alembic_version SET version_num='96b3890d8c1f' WHERE alembic_version.version_num = '018';

-- Running upgrade 96b3890d8c1f -> 019

CREATE TABLE whatsapp_connections (
    id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    phone_number VARCHAR(20), 
    provider VARCHAR(20) DEFAULT 'evolution' NOT NULL, 
    api_url VARCHAR(500) NOT NULL, 
    api_key VARCHAR(500) NOT NULL, 
    instance_name VARCHAR(255), 
    status VARCHAR(20) DEFAULT 'disconnected' NOT NULL, 
    webhook_url VARCHAR(500), 
    created_by_user_id UUID, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by_user_id) REFERENCES usuarios (id) ON DELETE SET NULL
);

CREATE INDEX ix_whatsapp_connections_id ON whatsapp_connections (id);

CREATE TABLE ai_agents (
    id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    description TEXT, 
    avatar_url TEXT, 
    system_prompt TEXT NOT NULL, 
    provider VARCHAR(20) DEFAULT 'openai' NOT NULL, 
    model VARCHAR(100) DEFAULT 'gpt-4o-mini' NOT NULL, 
    temperature FLOAT DEFAULT '0.7' NOT NULL, 
    max_tokens INTEGER, 
    tools_json JSONB, 
    knowledge_base_json JSONB, 
    whatsapp_connection_id UUID, 
    is_active BOOLEAN DEFAULT 'true' NOT NULL, 
    created_by_user_id UUID, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(whatsapp_connection_id) REFERENCES whatsapp_connections (id) ON DELETE SET NULL, 
    FOREIGN KEY(created_by_user_id) REFERENCES usuarios (id) ON DELETE SET NULL
);

CREATE INDEX ix_ai_agents_id ON ai_agents (id);

CREATE TABLE agent_conversations (
    id UUID NOT NULL, 
    agent_id UUID NOT NULL, 
    external_phone VARCHAR(20), 
    channel VARCHAR(20) DEFAULT 'web' NOT NULL, 
    status VARCHAR(20) DEFAULT 'active' NOT NULL, 
    messages_json JSONB, 
    started_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    ended_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(agent_id) REFERENCES ai_agents (id) ON DELETE CASCADE
);

CREATE INDEX ix_agent_conversations_id ON agent_conversations (id);

CREATE INDEX ix_agent_conversations_agent_id ON agent_conversations (agent_id);

CREATE TABLE campaigns (
    id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    description TEXT, 
    type VARCHAR(20) DEFAULT 'prospecting' NOT NULL, 
    status VARCHAR(20) DEFAULT 'draft' NOT NULL, 
    config_json JSONB, 
    agent_id UUID, 
    whatsapp_connection_id UUID, 
    total_leads_found INTEGER DEFAULT '0' NOT NULL, 
    created_by_user_id UUID, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(agent_id) REFERENCES ai_agents (id) ON DELETE SET NULL, 
    FOREIGN KEY(whatsapp_connection_id) REFERENCES whatsapp_connections (id) ON DELETE SET NULL, 
    FOREIGN KEY(created_by_user_id) REFERENCES usuarios (id) ON DELETE SET NULL
);

CREATE INDEX ix_campaigns_id ON campaigns (id);

CREATE TABLE campaign_leads (
    id UUID NOT NULL, 
    campaign_id UUID NOT NULL, 
    business_name VARCHAR(500) NOT NULL, 
    phone VARCHAR(30), 
    email VARCHAR(255), 
    website VARCHAR(500), 
    address TEXT, 
    city VARCHAR(255), 
    state VARCHAR(100), 
    category VARCHAR(255), 
    rating FLOAT, 
    source VARCHAR(20) DEFAULT 'google_maps' NOT NULL, 
    status VARCHAR(20) DEFAULT 'found' NOT NULL, 
    metadata_json JSONB, 
    found_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    contacted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(campaign_id) REFERENCES campaigns (id) ON DELETE CASCADE
);

CREATE INDEX ix_campaign_leads_id ON campaign_leads (id);

CREATE INDEX ix_campaign_leads_campaign_id ON campaign_leads (campaign_id);

UPDATE alembic_version SET version_num='019' WHERE alembic_version.version_num = '96b3890d8c1f';

-- Running upgrade 019 -> 020

CREATE TABLE lead_conversations (
    id UUID NOT NULL, 
    lead_id UUID NOT NULL, 
    agent_id UUID, 
    whatsapp_connection_id UUID, 
    status VARCHAR(20) DEFAULT 'active' NOT NULL, 
    started_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    ended_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(lead_id) REFERENCES leads (id) ON DELETE CASCADE, 
    FOREIGN KEY(agent_id) REFERENCES ai_agents (id) ON DELETE SET NULL, 
    FOREIGN KEY(whatsapp_connection_id) REFERENCES whatsapp_connections (id) ON DELETE SET NULL
);

CREATE INDEX ix_lead_conversations_id ON lead_conversations (id);

CREATE INDEX ix_lead_conversations_lead_id ON lead_conversations (lead_id);

CREATE TABLE lead_messages (
    id UUID NOT NULL, 
    conversation_id UUID NOT NULL, 
    role VARCHAR(20) NOT NULL, 
    content TEXT NOT NULL, 
    sent_via VARCHAR(20) DEFAULT 'whatsapp' NOT NULL, 
    whatsapp_message_id VARCHAR(255), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(conversation_id) REFERENCES lead_conversations (id) ON DELETE CASCADE
);

CREATE INDEX ix_lead_messages_id ON lead_messages (id);

CREATE INDEX ix_lead_messages_conversation_id ON lead_messages (conversation_id);

UPDATE alembic_version SET version_num='020' WHERE alembic_version.version_num = '019';

-- Running upgrade 020 -> 021

ALTER TABLE lead_conversations ADD COLUMN remote_jid VARCHAR(255);

UPDATE alembic_version SET version_num='021' WHERE alembic_version.version_num = '020';

-- Running upgrade 021 -> 022

CREATE TABLE campaign_lead_conversations (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    campaign_lead_id UUID NOT NULL, 
    agent_id UUID, 
    whatsapp_connection_id UUID, 
    remote_jid VARCHAR(255), 
    status VARCHAR(20) DEFAULT 'active' NOT NULL, 
    message_count INTEGER DEFAULT '0' NOT NULL, 
    interest_detected BOOLEAN DEFAULT 'false' NOT NULL, 
    started_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    ended_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(campaign_lead_id) REFERENCES campaign_leads (id) ON DELETE CASCADE, 
    FOREIGN KEY(agent_id) REFERENCES ai_agents (id) ON DELETE SET NULL, 
    FOREIGN KEY(whatsapp_connection_id) REFERENCES whatsapp_connections (id) ON DELETE SET NULL
);

CREATE INDEX ix_campaign_lead_conversations_campaign_lead_id ON campaign_lead_conversations (campaign_lead_id);

CREATE TABLE campaign_lead_messages (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    conversation_id UUID NOT NULL, 
    role VARCHAR(20) NOT NULL, 
    content TEXT NOT NULL, 
    sent_via VARCHAR(20) DEFAULT 'whatsapp' NOT NULL, 
    whatsapp_message_id VARCHAR(255), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(conversation_id) REFERENCES campaign_lead_conversations (id) ON DELETE CASCADE
);

CREATE INDEX ix_campaign_lead_messages_conversation_id ON campaign_lead_messages (conversation_id);

UPDATE alembic_version SET version_num='022' WHERE alembic_version.version_num = '021';

-- Running upgrade 022 -> 023

CREATE TABLE contas_pagar (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    descricao VARCHAR(500) NOT NULL, 
    fornecedor VARCHAR(255), 
    categoria VARCHAR(30) DEFAULT 'outros' NOT NULL, 
    valor NUMERIC(15, 2) NOT NULL, 
    data_vencimento DATE NOT NULL, 
    data_pagamento DATE, 
    status VARCHAR(20) DEFAULT 'pendente' NOT NULL, 
    forma_pagamento VARCHAR(20), 
    observacoes TEXT, 
    recorrencia VARCHAR(20) DEFAULT 'nenhuma' NOT NULL, 
    parcela_atual INTEGER, 
    total_parcelas INTEGER, 
    documento_referencia VARCHAR(255), 
    projeto_id UUID, 
    created_by_user_id UUID, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(projeto_id) REFERENCES projetos (id) ON DELETE SET NULL, 
    FOREIGN KEY(created_by_user_id) REFERENCES usuarios (id) ON DELETE SET NULL
);

CREATE TABLE contas_receber (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    descricao VARCHAR(500) NOT NULL, 
    cliente_id UUID, 
    cliente_nome VARCHAR(255), 
    categoria VARCHAR(30) DEFAULT 'projeto' NOT NULL, 
    valor NUMERIC(15, 2) NOT NULL, 
    data_vencimento DATE NOT NULL, 
    data_recebimento DATE, 
    status VARCHAR(20) DEFAULT 'pendente' NOT NULL, 
    forma_pagamento VARCHAR(20), 
    observacoes TEXT, 
    recorrencia VARCHAR(20) DEFAULT 'nenhuma' NOT NULL, 
    parcela_atual INTEGER, 
    total_parcelas INTEGER, 
    documento_referencia VARCHAR(255), 
    projeto_id UUID, 
    created_by_user_id UUID, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(cliente_id) REFERENCES clientes (id) ON DELETE SET NULL, 
    FOREIGN KEY(projeto_id) REFERENCES projetos (id) ON DELETE SET NULL, 
    FOREIGN KEY(created_by_user_id) REFERENCES usuarios (id) ON DELETE SET NULL
);

UPDATE alembic_version SET version_num='023' WHERE alembic_version.version_num = '022';

-- Running upgrade 023 -> 024

CREATE TABLE centros_custo (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    nome VARCHAR(255) NOT NULL, 
    codigo VARCHAR(50) NOT NULL, 
    descricao TEXT, 
    ativo BOOLEAN DEFAULT true NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    UNIQUE (codigo)
);

CREATE TABLE contas_bancarias (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    nome_banco VARCHAR(255) NOT NULL, 
    agencia VARCHAR(20), 
    numero_conta VARCHAR(30), 
    tipo_conta VARCHAR(20) DEFAULT 'corrente' NOT NULL, 
    saldo_inicial NUMERIC(15, 2) DEFAULT '0' NOT NULL, 
    pix_chave VARCHAR(255), 
    titular VARCHAR(255), 
    ativo BOOLEAN DEFAULT true NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id)
);

CREATE TABLE despesas_fixas (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    descricao VARCHAR(500) NOT NULL, 
    valor NUMERIC(15, 2) NOT NULL, 
    categoria VARCHAR(30) DEFAULT 'outros' NOT NULL, 
    fornecedor VARCHAR(255), 
    dia_vencimento INTEGER DEFAULT '10' NOT NULL, 
    forma_pagamento VARCHAR(20), 
    centro_custo_id UUID, 
    conta_bancaria_id UUID, 
    ativo BOOLEAN DEFAULT true NOT NULL, 
    observacoes TEXT, 
    created_by_user_id UUID, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(centro_custo_id) REFERENCES centros_custo (id) ON DELETE SET NULL, 
    FOREIGN KEY(conta_bancaria_id) REFERENCES contas_bancarias (id) ON DELETE SET NULL, 
    FOREIGN KEY(created_by_user_id) REFERENCES usuarios (id) ON DELETE SET NULL
);

CREATE TABLE funcionarios (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    nome VARCHAR(255) NOT NULL, 
    cpf VARCHAR(14), 
    email VARCHAR(255), 
    telefone VARCHAR(20), 
    cargo VARCHAR(255), 
    departamento VARCHAR(255), 
    data_admissao DATE, 
    data_demissao DATE, 
    tipo_contrato VARCHAR(20) DEFAULT 'clt' NOT NULL, 
    salario_bruto NUMERIC(15, 2) DEFAULT '0' NOT NULL, 
    vale_transporte NUMERIC(15, 2) DEFAULT '0', 
    vale_refeicao NUMERIC(15, 2) DEFAULT '0', 
    plano_saude NUMERIC(15, 2) DEFAULT '0', 
    outros_beneficios NUMERIC(15, 2) DEFAULT '0', 
    centro_custo_id UUID, 
    ativo BOOLEAN DEFAULT true NOT NULL, 
    observacoes TEXT, 
    created_by_user_id UUID, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    UNIQUE (cpf), 
    FOREIGN KEY(centro_custo_id) REFERENCES centros_custo (id) ON DELETE SET NULL, 
    FOREIGN KEY(created_by_user_id) REFERENCES usuarios (id) ON DELETE SET NULL
);

ALTER TABLE contas_pagar ADD COLUMN centro_custo_id UUID;

ALTER TABLE contas_pagar ADD COLUMN conta_bancaria_id UUID;

ALTER TABLE contas_pagar ADD COLUMN despesa_fixa_id UUID;

ALTER TABLE contas_pagar ADD CONSTRAINT fk_contas_pagar_centro_custo FOREIGN KEY(centro_custo_id) REFERENCES centros_custo (id) ON DELETE SET NULL;

ALTER TABLE contas_pagar ADD CONSTRAINT fk_contas_pagar_conta_bancaria FOREIGN KEY(conta_bancaria_id) REFERENCES contas_bancarias (id) ON DELETE SET NULL;

ALTER TABLE contas_pagar ADD CONSTRAINT fk_contas_pagar_despesa_fixa FOREIGN KEY(despesa_fixa_id) REFERENCES despesas_fixas (id) ON DELETE SET NULL;

ALTER TABLE contas_receber ADD COLUMN centro_custo_id UUID;

ALTER TABLE contas_receber ADD COLUMN conta_bancaria_id UUID;

ALTER TABLE contas_receber ADD CONSTRAINT fk_contas_receber_centro_custo FOREIGN KEY(centro_custo_id) REFERENCES centros_custo (id) ON DELETE SET NULL;

ALTER TABLE contas_receber ADD CONSTRAINT fk_contas_receber_conta_bancaria FOREIGN KEY(conta_bancaria_id) REFERENCES contas_bancarias (id) ON DELETE SET NULL;

UPDATE alembic_version SET version_num='024' WHERE alembic_version.version_num = '023';

-- Running upgrade 024 -> 9f31979ee18a

CREATE TABLE project_expenses (
    id UUID NOT NULL, 
    project_id UUID NOT NULL, 
    title VARCHAR(255) NOT NULL, 
    category VARCHAR(15) NOT NULL, 
    amount_cents BIGINT NOT NULL, 
    occurred_at DATE NOT NULL, 
    vendor VARCHAR(255), 
    notes TEXT, 
    created_by_id UUID, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by_id) REFERENCES usuarios (id), 
    FOREIGN KEY(project_id) REFERENCES projetos (id)
);

CREATE INDEX ix_project_expenses_category ON project_expenses (category);

CREATE INDEX ix_project_expenses_id ON project_expenses (id);

CREATE INDEX ix_project_expenses_occurred_at ON project_expenses (occurred_at);

CREATE INDEX ix_project_expenses_project_id ON project_expenses (project_id);

ALTER TABLE projetos ADD COLUMN budget_cents BIGINT DEFAULT '0' NOT NULL;

ALTER TABLE projetos ADD COLUMN expected_revenue_cents BIGINT DEFAULT '0' NOT NULL;

ALTER TABLE projetos ADD COLUMN actual_revenue_cents BIGINT DEFAULT '0' NOT NULL;

ALTER TABLE projetos ALTER COLUMN budget_cents DROP DEFAULT;

ALTER TABLE projetos ALTER COLUMN expected_revenue_cents DROP DEFAULT;

ALTER TABLE projetos ALTER COLUMN actual_revenue_cents DROP DEFAULT;

UPDATE alembic_version SET version_num='9f31979ee18a' WHERE alembic_version.version_num = '024';

-- Running upgrade 9f31979ee18a -> d1e010ac2e8d

CREATE TABLE tenants (
    id UUID NOT NULL, 
    nome_negocio VARCHAR(255) NOT NULL, 
    plano VARCHAR(20) NOT NULL, 
    llm_model VARCHAR(100), 
    system_prompt TEXT, 
    openai_api_key VARCHAR(255), 
    google_calendar_token TEXT, 
    evolution_api_url VARCHAR(500), 
    evolution_api_key VARCHAR(500), 
    evolution_instance_name VARCHAR(255), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id)
);

CREATE INDEX ix_tenants_evolution_instance_name ON tenants (evolution_instance_name);

CREATE INDEX ix_tenants_id ON tenants (id);

ALTER TABLE agent_conversations ADD COLUMN tenant_id UUID;

CREATE INDEX ix_agent_conversations_tenant_id ON agent_conversations (tenant_id);

ALTER TABLE agent_conversations ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

ALTER TABLE ai_agents ADD COLUMN tenant_id UUID;

CREATE INDEX ix_ai_agents_tenant_id ON ai_agents (tenant_id);

ALTER TABLE ai_agents ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

ALTER TABLE campaign_lead_conversations ADD COLUMN tenant_id UUID;

CREATE INDEX ix_campaign_lead_conversations_id ON campaign_lead_conversations (id);

CREATE INDEX ix_campaign_lead_conversations_tenant_id ON campaign_lead_conversations (tenant_id);

ALTER TABLE campaign_lead_conversations ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

ALTER TABLE campaign_lead_messages ADD COLUMN tenant_id UUID;

CREATE INDEX ix_campaign_lead_messages_id ON campaign_lead_messages (id);

CREATE INDEX ix_campaign_lead_messages_tenant_id ON campaign_lead_messages (tenant_id);

ALTER TABLE campaign_lead_messages ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

ALTER TABLE campaign_leads ADD COLUMN tenant_id UUID;

CREATE INDEX ix_campaign_leads_tenant_id ON campaign_leads (tenant_id);

ALTER TABLE campaign_leads ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

ALTER TABLE campaigns ADD COLUMN tenant_id UUID;

CREATE INDEX ix_campaigns_tenant_id ON campaigns (tenant_id);

ALTER TABLE campaigns ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

ALTER TABLE centros_custo ADD COLUMN tenant_id UUID;

CREATE INDEX ix_centros_custo_id ON centros_custo (id);

CREATE INDEX ix_centros_custo_tenant_id ON centros_custo (tenant_id);

ALTER TABLE centros_custo ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

ALTER TABLE clientes ADD COLUMN tenant_id UUID;

ALTER TABLE clientes ALTER COLUMN endereco TYPE VARCHAR(255);

CREATE INDEX ix_clientes_tenant_id ON clientes (tenant_id);

ALTER TABLE clientes ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

ALTER TABLE clientes DROP COLUMN documento;

ALTER TABLE contas_bancarias ADD COLUMN tenant_id UUID;

CREATE INDEX ix_contas_bancarias_id ON contas_bancarias (id);

CREATE INDEX ix_contas_bancarias_tenant_id ON contas_bancarias (tenant_id);

ALTER TABLE contas_bancarias ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

ALTER TABLE contas_pagar ADD COLUMN tenant_id UUID;

CREATE INDEX ix_contas_pagar_id ON contas_pagar (id);

CREATE INDEX ix_contas_pagar_tenant_id ON contas_pagar (tenant_id);

ALTER TABLE contas_pagar ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

ALTER TABLE contas_receber ADD COLUMN tenant_id UUID;

CREATE INDEX ix_contas_receber_id ON contas_receber (id);

CREATE INDEX ix_contas_receber_tenant_id ON contas_receber (tenant_id);

ALTER TABLE contas_receber ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

ALTER TABLE contratos ADD COLUMN tenant_id UUID;

CREATE INDEX ix_contratos_tenant_id ON contratos (tenant_id);

ALTER TABLE contratos ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

COMMENT ON TABLE conversation_participants IS 'Participantes de conversas';

ALTER TABLE deal_activities ADD COLUMN tenant_id UUID;

ALTER TABLE deal_activities ALTER COLUMN type TYPE VARCHAR(20);

CREATE INDEX ix_deal_activities_id ON deal_activities (id);

CREATE INDEX ix_deal_activities_tenant_id ON deal_activities (tenant_id);

ALTER TABLE deal_activities ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

ALTER TABLE deal_assignees ADD COLUMN tenant_id UUID;

ALTER TABLE deal_assignees DROP CONSTRAINT uq_deal_user;

CREATE INDEX ix_deal_assignees_id ON deal_assignees (id);

CREATE INDEX ix_deal_assignees_tenant_id ON deal_assignees (tenant_id);

ALTER TABLE deal_assignees ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

COMMENT ON TABLE deal_assignees IS 'Responsßveis atribuÝdos a deals';

ALTER TABLE deal_notes ADD COLUMN tenant_id UUID;

CREATE INDEX ix_deal_notes_id ON deal_notes (id);

CREATE INDEX ix_deal_notes_tenant_id ON deal_notes (tenant_id);

ALTER TABLE deal_notes ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

ALTER TABLE deal_stage_history ADD COLUMN tenant_id UUID;

CREATE INDEX ix_deal_stage_history_id ON deal_stage_history (id);

CREATE INDEX ix_deal_stage_history_tenant_id ON deal_stage_history (tenant_id);

ALTER TABLE deal_stage_history ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

ALTER TABLE deal_tag_links ADD COLUMN tenant_id UUID;

ALTER TABLE deal_tag_links DROP CONSTRAINT uq_deal_tag;

CREATE INDEX ix_deal_tag_links_id ON deal_tag_links (id);

CREATE INDEX ix_deal_tag_links_tenant_id ON deal_tag_links (tenant_id);

ALTER TABLE deal_tag_links ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

ALTER TABLE deal_tags ADD COLUMN tenant_id UUID;

CREATE INDEX ix_deal_tags_tenant_id ON deal_tags (tenant_id);

ALTER TABLE deal_tags ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

ALTER TABLE deals ADD COLUMN tenant_id UUID;

ALTER TABLE deals ALTER COLUMN priority TYPE VARCHAR(20);

ALTER TABLE deals ALTER COLUMN status TYPE VARCHAR(20);

ALTER TABLE deals ALTER COLUMN source TYPE VARCHAR(20);

CREATE INDEX ix_deals_tenant_id ON deals (tenant_id);

ALTER TABLE deals ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

ALTER TABLE despesas_fixas ADD COLUMN tenant_id UUID;

CREATE INDEX ix_despesas_fixas_id ON despesas_fixas (id);

CREATE INDEX ix_despesas_fixas_tenant_id ON despesas_fixas (tenant_id);

ALTER TABLE despesas_fixas ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

ALTER TABLE email_outbox ADD COLUMN tenant_id UUID;

DROP INDEX ix_email_outbox_status;

CREATE INDEX ix_email_outbox_id ON email_outbox (id);

CREATE INDEX ix_email_outbox_tenant_id ON email_outbox (tenant_id);

ALTER TABLE email_outbox ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

COMMENT ON TABLE email_outbox IS 'Fila de e-mails para envio transacional';

CREATE INDEX ix_funcionarios_id ON funcionarios (id);

ALTER TABLE lead_conversations ADD COLUMN tenant_id UUID;

CREATE INDEX ix_lead_conversations_tenant_id ON lead_conversations (tenant_id);

ALTER TABLE lead_conversations ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

ALTER TABLE lead_messages ADD COLUMN tenant_id UUID;

CREATE INDEX ix_lead_messages_tenant_id ON lead_messages (tenant_id);

ALTER TABLE lead_messages ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

ALTER TABLE leads ADD COLUMN tenant_id UUID;

CREATE INDEX ix_leads_tenant_id ON leads (tenant_id);

ALTER TABLE leads ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

COMMENT ON TABLE notification_recipients IS 'Inbox por usußrio: cada notificaþÒo pode ter m·ltiplos destinatßrios';

ALTER TABLE notifications ALTER COLUMN type TYPE VARCHAR(50);

ALTER TABLE notifications ALTER COLUMN priority TYPE VARCHAR(20);

DROP INDEX ix_notifications_context;

CREATE INDEX ix_notifications_context_id ON notifications (context_id);

CREATE INDEX ix_notifications_context_type ON notifications (context_type);

CREATE INDEX ix_permissions_id ON permissions (id);

ALTER TABLE pipeline_stages ADD COLUMN tenant_id UUID;

ALTER TABLE pipeline_stages DROP CONSTRAINT uq_pipeline_stage_order;

CREATE INDEX ix_pipeline_stages_tenant_id ON pipeline_stages (tenant_id);

ALTER TABLE pipeline_stages ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

COMMENT ON TABLE pipeline_stages IS 'Etapas do pipeline de vendas';

ALTER TABLE pipelines ADD COLUMN tenant_id UUID;

CREATE INDEX ix_pipelines_tenant_id ON pipelines (tenant_id);

ALTER TABLE pipelines ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

ALTER TABLE pre_proposal_answers DROP CONSTRAINT uq_pre_proposal_answer;

CREATE INDEX ix_pre_proposal_answers_id ON pre_proposal_answers (id);

COMMENT ON TABLE pre_proposal_answers IS 'Respostas do diagn¾stico de prÚ-proposta';

ALTER TABLE pre_proposal_templates ALTER COLUMN is_default TYPE VARCHAR(20);

COMMENT ON TABLE pre_proposal_templates IS 'Templates de diagn¾stico para prÚ-propostas';

DROP INDEX ix_pre_proposals_status;

ALTER TABLE project_expenses ADD COLUMN tenant_id UUID;

CREATE INDEX ix_project_expenses_tenant_id ON project_expenses (tenant_id);

ALTER TABLE project_expenses ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

ALTER TABLE projetos ADD COLUMN tenant_id UUID;

CREATE INDEX ix_projetos_tenant_id ON projetos (tenant_id);

ALTER TABLE projetos ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

DROP INDEX ix_proposal_analytics_proposta_date;

DROP INDEX ix_proposal_events_proposta_type;

ALTER TABLE proposal_pricing_plans ADD COLUMN tenant_id UUID;

ALTER TABLE proposal_pricing_plans ALTER COLUMN is_recommended TYPE VARCHAR(20);

ALTER TABLE proposal_pricing_plans ALTER COLUMN is_selected_default TYPE VARCHAR(20);

CREATE INDEX ix_proposal_pricing_plans_id ON proposal_pricing_plans (id);

CREATE INDEX ix_proposal_pricing_plans_tenant_id ON proposal_pricing_plans (tenant_id);

ALTER TABLE proposal_pricing_plans ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

COMMENT ON TABLE proposal_pricing_plans IS 'Planos de preþo da proposta';

ALTER TABLE proposal_sections ADD COLUMN tenant_id UUID;

ALTER TABLE proposal_sections DROP CONSTRAINT uq_proposal_section_order;

CREATE INDEX ix_proposal_sections_id ON proposal_sections (id);

CREATE INDEX ix_proposal_sections_tenant_id ON proposal_sections (tenant_id);

ALTER TABLE proposal_sections ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

COMMENT ON TABLE proposal_sections IS 'Seþ§es editßveis da proposta comercial';

DROP INDEX ix_proposal_sessions_proposta_session;

ALTER TABLE proposal_status_events ADD COLUMN tenant_id UUID;

CREATE INDEX ix_proposal_status_events_id ON proposal_status_events (id);

CREATE INDEX ix_proposal_status_events_tenant_id ON proposal_status_events (tenant_id);

ALTER TABLE proposal_status_events ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

COMMENT ON TABLE proposal_status_events IS 'Eventos de tracking da proposta';

ALTER TABLE propostas ADD COLUMN tenant_id UUID;

ALTER TABLE propostas ALTER COLUMN currency SET NOT NULL;

ALTER TABLE propostas DROP CONSTRAINT propostas_public_token_key;

CREATE INDEX ix_propostas_tenant_id ON propostas (tenant_id);

ALTER TABLE propostas ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

DROP INDEX ix_role_permissions_permission_id;

DROP INDEX ix_role_permissions_role_id;

CREATE INDEX ix_role_permissions_id ON role_permissions (id);

ALTER TABLE roles DROP CONSTRAINT roles_key_key;

ALTER TABLE tarefa_assignees ADD COLUMN tenant_id UUID;

ALTER TABLE tarefa_assignees DROP CONSTRAINT uq_tarefa_usuario;

CREATE INDEX ix_tarefa_assignees_id ON tarefa_assignees (id);

CREATE INDEX ix_tarefa_assignees_tenant_id ON tarefa_assignees (tenant_id);

ALTER TABLE tarefa_assignees ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

COMMENT ON TABLE tarefa_assignees IS 'Permite atribuir m·ltiplos usußrios a uma tarefa';

ALTER TABLE tarefas ADD COLUMN tenant_id UUID;

ALTER TABLE tarefas ALTER COLUMN projeto_id DROP NOT NULL;

DROP INDEX ix_tarefas_context_type_id;

DROP INDEX ix_tarefas_parent_task_id;

CREATE INDEX ix_tarefas_tenant_id ON tarefas (tenant_id);

ALTER TABLE tarefas DROP CONSTRAINT fk_tarefa_parent_task;

ALTER TABLE tarefas ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

ALTER TABLE tarefas ADD FOREIGN KEY(parent_task_id) REFERENCES tarefas (id);

DROP INDEX ix_task_blocks_order_index;

COMMENT ON TABLE task_blocks IS 'Blocos de conte·do da tarefa (editor estilo Notion)';

DROP INDEX ix_task_databases_is_default;

ALTER TABLE task_properties DROP CONSTRAINT uq_task_property_database_key;

COMMENT ON TABLE task_properties IS 'Propriedades customizßveis de tarefas (estilo Notion)';

ALTER TABLE task_property_values DROP CONSTRAINT uq_task_property_value;

COMMENT ON TABLE task_property_values IS 'Valores das propriedades customizßveis por tarefa';

DROP INDEX ix_user_roles_role_id;

DROP INDEX ix_user_roles_user_id;

COMMENT ON TABLE user_roles IS 'Multi-cargo: usußrios podem ter m·ltiplos cargos';

ALTER TABLE usuarios ADD COLUMN tenant_id UUID;

CREATE INDEX ix_usuarios_tenant_id ON usuarios (tenant_id);

ALTER TABLE usuarios ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

ALTER TABLE whatsapp_connections ADD COLUMN tenant_id UUID;

CREATE INDEX ix_whatsapp_connections_tenant_id ON whatsapp_connections (tenant_id);

ALTER TABLE whatsapp_connections ADD FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE CASCADE;

UPDATE alembic_version SET version_num='d1e010ac2e8d' WHERE alembic_version.version_num = '9f31979ee18a';

COMMIT;

